body {
    background: rgb(105, 104, 104);
}

*{
    box-sizing: border-box;
}

p {
    position: absolute;
    display: inline-block;
    left: 0;
    padding: 0 0 0 15px;
    margin: 0;
}
.container {
    position: relative;
    max-width: 800px;
    margin: auto;
    background: rgba(70, 233, 254, 0.85);
    width: 90%;
    padding: 10px;
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    justify-content: center;
    align-content: center;
}

.grid-item {
    cursor: pointer;
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    border: 0; 
    background-color: rgba(255, 255, 255, .25);
}

.at {
    border-top: 1px solid rgb(255, 255, 255); 
}
.ad {
    border-bottom: 1px solid rgb(255, 255, 255); 
}
.al {
    border-left: 1px solid rgb(255, 255, 255); 
}
.ar {
    border-right: 1px solid rgb(255, 255, 255); 
}

.grid-item:hover {
    background-color: rgba(255, 255, 255, .85);
}


.upis {
    background:  #fadf5a;
}